{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container block-central">
    <div class="jumbotron my-4">
        <h3>Hola!</h3>
        <br>
        <h5> Estamos de celebración, nuestra provincia cumple 70 años y lo queremos festejar con vos.</h5>
        <br>
        <p class="text-justify">
            El domingo 8 de agosto se cumplieron 70 años desde que en 1951 se sancionara la Ley N°14037 que
            declaró como Provincia al Territorio Nacional del Chaco. Con motivo de ese hecho histórico,
            el Gobierno del Chaco junto al Instituto de Cultura del Chaco (ICCH) celebraron y dieron inicio
            a una agenda diseñada y organizada desde la Comisión por la Provincialización del Chaco, integrada
            por un equipo de referentes de nuestra historia, de nuestra cultura y política.
        </p>
        <p class="text-justify">
            Este juego lo queremos compartir con vos, vas a encontrar preguntas sobre nuestra querida provincia.
        </p>
        <p class="text-right mr-5">¡Muchas gracias!</p>
    </div>
</div>
{% endblock contenido %}