{% extends 'base.html' %}
{% load static %}
{% block contenido %}

{% if pregunta is None %}

<div class="container">
    <div class="jumbotron my-4">
        <h1>Haz respondido a todas las preguntas existentes!</h1>
        ACA VA EL LINK AL RANKING
    </div>

</div>
{% else %}
<input type="hidden" id="categoria" name="categoria" value="{{ pregunta.categoria_id }}">


<div class="container justify-content-center align-items-center">
    <div class=" d-inline-flex justify-content-center align-items-center">
        <div class="jumbotron my-4" style="min-height: 300px; min-width: 800px;">
            <div id="question">
                <div hidden="true">
                    <h3>{{pregunta.texto}}</h3>
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">
                        {% for opciones in pregunta.opciones.all %}
                        <div class="form-check mx-4">
                            <input type="radio" class="form-check-input" name="respuesta_pk" value="{{opciones.pk}}"
                                id="choice-{{forloop.counter}}">

                            <label for="choice-{{forloop.counter}}" class="form-check-label">
                                {{opciones.texto}}
                            </label>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success btn-default">Enviar</button>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn btn-success justify-content-center">Enviar</button> -->
                    </form>
                </div>

            </div>

        </div>

        <div class="span4">
            <div class="roulette_container">
                <div class="roulette ml-3" style="display:none;">
                    <img src="{% static 'img/ciencia_y_eduacion.png' %}" />
                    <img src="{% static 'img/cultura_y_arte.png' %}" />
                    <img src="{% static 'img/deportes.png' %}" />
                    <img src="{% static 'img/economia.png' %}" />
                    <img src="{% static 'img/entretenimiento.png' %}" />
                    <img src="{% static 'img/geografia.png' %}" />
                    <img src="{% static 'img/historia.png' %}" />
                </div>
            </div>
            <div class="btn_container">
                <p>
                    <button class="btn btn-large btn-primary start ml-5 mt-5"> START </button>
                    <!-- <button class="stop btn-large btn btn-warning"> STOP </button> -->
                </p>
            </div>
        </div>
    </div>
</div>

{% endif %}



{% endblock %}